<center>
{% block body %}
<h3>Create new user profile</h3>
  <form method="POST" action="">
    Name:<span style="color:red;">*</span><br>
    <input type="text" name="user_name" required/>
    <br><br>
    Mobile Number:<span style="color:red">*</span><br>
    <input type="text" name="mobile_number" required/>
    <br><br>
    Email:<br>
    <input type="email" name="email"/>
    <br><br>
    Home Address:<br>
    <input type="text" name="home_address"/>
    <br><br>
    <p style="color:red; font-size:80%;">* Required Fields</p>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
</center>
