<center>
{% block body %}
<h3>Edit user profile</h3>
  <form method="POST" action="/update">
    Name:<br>
    <input type="text" name="user_name" value="{{ userDetails['user_name'] }}" autocomplete="off" required/>
    <br><br>
    Mobile Number:<br>
    <input type="text" name="mobile_number" value="{{ userDetails['mobile_number'] }}" autocomplete="off" required/>
    <br><br>
    Email:<br>
    <input type="email" name="email" value="{{ userDetails['email'] }}" autocomplete="off"/>
    <br><br>
    Home Address:<br>
    <input type="text" name="home_address" value="{{ userDetails['home_address'] }}" autocomplete="off"/>
    <br><br>
    <input name="id" value="{{ userDetails['id'] }}" type="hidden">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
</center>
