<center>
{% block body %}
<h3>Edit User Profile</h3>
  <form method="POST" action="/edit_user_profile/{{userDetails[0]}}">
    Name:<br>
    <input type="text" name="user_name" value="{{ userDetails[1] }}" autocomplete="off" required/>
    <br><br>
    Telephone:<br>
    <input type="text" name="telephone" value="{{ userDetails[2] }}" autocomplete="off" required/>
    <br><br>
    Mobile Number:<br>
    <input type="text" name="mobile_number" value="{{ userDetails[3] }}" autocomplete="off" required/>
    <br><br>
    Email:<br>
    <input type="email" name="email" value="{{ userDetails[4] }}" autocomplete="off"/>
    <br><br>
    Home Address:<br>
    <input type="text" name="home_address" value="{{ userDetails[5] }}" autocomplete="off"/>
    <br><br>
    <input name="id" value="{{ userDetails[0] }}" type="hidden">
    <input type="submit" value="Submit">
  </form>
{% endblock %}
</center>
