<center>
{% block body %}
  <h3>Profile created successfully</h3>
  <br>
  <table border = 2, cellpadding = 4>
    <tr>
      <td> NAME </td>
      <td> MOBILE NUMBER </td>
      <td> TELEPHONE </td>
      <td> EMAIL </td>
      <td> HOME ADDRESS </td>
    </tr>
    {% for user in userDetails %}
    <tr>
      <!-- show all rows in database table -->
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
      <td> {{user[3]}} </td>
      <td> {{user[4]}} </td>
      <td> {{user[5]}} </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
</center>
